@model SacramentalApp.Models.Speech

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<h4>Speech</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="MeetingId" class="form-control" />*@

            @*<div class="form-group">
            <label asp-for="MeetingId" class="control-label"></label>
            <select asp-for="MeetingId" class ="form-control" asp-items="ViewBag.MeetingId"></select>
        </div>*@

            <div class="form-group">
                <label asp-for="MeetingId" class="control-label"></label>
                <input asp-for="MeetingId" class="form-control"/>
                <span asp-validation-for="MeetingId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NameSpeaker" class="control-label"></label>
                <input asp-for="NameSpeaker" class="form-control" />
                <span asp-validation-for="NameSpeaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
    @*<a asp-controller="Meetings" asp-action="Details" asp-route-id="@Model.MeetingId=1">Back to Meeting</a>*@

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
