@model SacramentalApp.Models.Speech

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@*<h1>---@ViewData["MId"] -- </h1>*@

<h4>Speech</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeetingId" class="form-control" value="@ViewData["MId"]"/>

            @*<div class="form-group">
            <label asp-for="MeetingId" class="control-label"></label>
            <select asp-for="MeetingId" class ="form-control" asp-items="ViewBag.MeetingId"></select>
            </div>*@

            @*<div class="form-group">
                <label asp-for="MeetingId" class="control-label"></label>
                <input asp-for="MeetingId" class="form-control"/>
                <span asp-validation-for="MeetingId" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="NameSpeaker" class="control-label"></label>
                <input asp-for="NameSpeaker" class="form-control" />
                <span asp-validation-for="NameSpeaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-warning"  asp-controller="Meetings" asp-action="EditSpeakers" asp-route-id="@ViewData["MId"]">Back to Meeting</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
