@{
    ViewData["Title"] = "Home Page";
}


<section class="hero">
    <div class="hero-inner">
        <h1>Meeting Planner</h1>
        <h2>The Lord emphasized the importance of Sabbath observance in the Ten Commandments when He said, “Remember the sabbath day, to keep it holy” (see Exodus 20:8–11).</h2>

    </div>
</section>
<div class="row">
    <div class="col-md-6">
        <h2>Plan your next Sacrament Meeting</h2>
        <p>
            Register all the information for next meeting and plan with order.
        </p>
        <a class="btn btn-success" asp-controller="Meetings" asp-action="">Meetings</a>
    
    </div>
    <div class="col-md-6">
        <h2>Speakers Historic</h2>
        <p>You can check the speakers to seek revelation and make new asssignments!</p>
        <a class="btn btn-success" asp-controller="Speeches" asp-action="">Speeches</a>
    </div>
   
</div>
